@{
    if (ViewBag.UsuarioDirecciones != null && ViewBag.UsuarioDirecciones.Count > 0)
    {
        <div class=" register w-100">
            <div class=" w-100">
                <div class="form-metPago-information-childs">
                    <form action="" class="form-direcion" id="">
                        @Html.AntiForgeryToken()
                        <span id="" class="producto-titulo" style="color: var(--color-dark-variant) !important; font-size: 1.6rem !important; font-weight:500">Dirección de entrega</span>
                        <hr />
                        <div class="w-100 d-flex  flex-row justify-content-between align-items-center">

                            @foreach (var direccion in ViewBag.UsuarioDirecciones)
                            {
                                <div class="d-flex flex-column pe-4">
                                    <span id="" class="producto-titulo" style="color: var(--color-dark-variant) !important; font-size: 1.2rem !important;"><span style="font-weight:600">Provincia: </span> @direccion.Provincia</span>
                                    <span id="" class="producto-titulo" style="color: var(--color-dark-variant) !important; font-size: 1.2rem !important;"><span style="font-weight:600">Cantón: </span> @direccion.Canton</span>
                                    <span id="" class="producto-titulo" style="color: var(--color-dark-variant) !important; font-size: 1.2rem !important;"><span style="font-weight:600">Distrito: </span> @direccion.Distrito</span>
                                    <span id="" class="producto-titulo" style="color: var(--color-dark-variant) !important; font-size: 1.2rem !important;"><span style="font-weight:600">Código postal: </span> @direccion.CodPostal</span>
                                    <span id="" class="producto-titulo" style="color: var(--color-dark-variant) !important; font-size: 1.2rem !important;"><span style="font-weight:600">Direccion exacta: </span> @direccion.DireccionExacta</span>

                                </div>

                                <span>
                                    <input type="button" value="Editar" class="button-productos mt-2" id="btnSaveDireccionForm">
                                </span>
                            }
                        </div>
                        <!-- Aquí se incluye el div para almacenar la URL -->
                        <div id="" data-url="@Url.Action("x", "x")"></div>

                        <hr />
                    </form>
                </div>
            </div>
        </div>
    }
}




