@{
    int cantidadProductos = Web.Utils.Carrito.Instancia.GetCountItems();
}

<a href="@Url.Action("CompraCliente", "Compra")" class="icon-link">
    <span class='material-symbols-outlined icon-large icon-compra' style="font-size: 24px;">shopping_bag</span>
    <span class="badge badge-sm text-white" style="background: var(--color-secondary-variant); margin-left: -7px; font-size: 10px;">@cantidadProductos</span>
</a>
    




@*@if (@ViewBag.NotiCarrito != null)
{
    <script>
        @Html.Raw(@ViewBag.NotiCarrito);
    </script>
}*@

