@model Infraestructure.Models.Compra

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["User"] != null)
{
    Infraestructure.Models.Usuario oUsuario;
    oUsuario = (Infraestructure.Models.Usuario)Session["User"];
}

<div class="content mt-4">

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label " for="Id">Usuario</label>
                    <div class="col-md-12">
                        @if (Session["User"] != null)
                        {
                            Infraestructure.Models.Usuario oUsuario;
                            oUsuario = (Infraestructure.Models.Usuario)Session["User"];
                            @Html.TextBoxFor(oUsuario => oUsuario.Id, htmlAttributes: new { @class = "form-control", @Value = oUsuario.Nombre, @readonly = "readonly" })
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.FechaHora, htmlAttributes: new { @class = "col-form-label" })*@
                    <label class="col-form-label " for="Id">Fecha de la orden</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.FechaHora, htmlAttributes: new { @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.FechaHora, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>



    <hr />

    <div id="resultadoDetalle">
        @if (Web.Utils.Carrito.Instancia.Items.Count() > 0)
        {
            @Html.Partial("~/Views/Compra/_DetalleCompra.cshtml",
            (List<Web.ViewModel.ViewModelDetalleCompra>)ViewBag.DetalleOrden
           )
        }
        else
        {
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                La orden no tiene productos asignados

            </div>
        }
    </div>

    <hr />
    <!-- Submit -->
    <div class="w-100 d-flex justify-content-end">
        <a href="@Url.Action("ConfirmarCompra", "Compra", new { detalleOrden = ViewBag.DetalleOrden })" class="btn btn-success float-right" id="btnOrdenar">
            <span class="glyphicon glyphicon-floppy-save"></span>
            Guardar
        </a>

    </div>



    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered modal " role="document">
            <div class="modal-content custom-modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Califica tu satisfacción</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color:white" >
                        <span aria-hidden="true" style="font-size:30px">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">

                        <div class="container">
                            <div class="w-50 text-left">

                                <span style="font-size: 17px !important; color: rgba(0,0,0,.85) !important; font-weight: 600 ">Proveedor: X</span>
                                <ul class="product-list">
                                    <li class="product-item">
                                        <span>Producto 1</span>
                                    </li>
                                    <li class="product-item">
                                        <span>Producto 2</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="star-widget w-75">

                                <input type="radio" name="rate" id="rate-5">
                                <label for="rate-5" class="fas fa-star text-center"></label>
                                <input type="radio" name="rate" id="rate-4">
                                <label for="rate-4" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-3">
                                <label for="rate-3" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-2">
                                <label for="rate-2" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-1">
                                <label for="rate-1" class="fas fa-star mb-2"></label>
                                <form action="#">
                                    @*<header></header>*@
                                    <span style="" class="w-100 d-flex justify-content-end"></span>
                                    <div class="textarea mt-1 ">
                                        <textarea cols="30" placeholder="Describe tu experiencia.."></textarea>
                                    </div>
                                    <div class="btn p-0 m-0">
                                        <button type="submit">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="container">
                            <div class="w-50 text-left">

                                <span style="font-size: 17px !important; color: rgba(0,0,0,.85) !important; font-weight: 600 ">Proveedor: X</span>
                                <ul class="product-list">
                                    <li class="product-item">
                                        <span>Producto 1</span>
                                    </li>
                                    <li class="product-item">
                                        <span>Producto 2</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="star-widget w-75">

                                <input type="radio" name="rate" id="rate-5">
                                <label for="rate-5" class="fas fa-star text-center"></label>
                                <input type="radio" name="rate" id="rate-4">
                                <label for="rate-4" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-3">
                                <label for="rate-3" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-2">
                                <label for="rate-2" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-1">
                                <label for="rate-1" class="fas fa-star mb-2"></label>
                                <form action="#">
                                    @*<header></header>*@
                                    <span style="" class="w-100 d-flex justify-content-end"></span>
                                    <div class="textarea mt-1 ">
                                        <textarea cols="30" placeholder="Describe tu experiencia.."></textarea>
                                    </div>
                                    <div class="btn p-0 m-0">
                                        <button type="submit">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="container">
                            <div class="w-50 text-left">

                                <span style="font-size: 17px !important; color: rgba(0,0,0,.85) !important; font-weight: 600 ">Proveedor: X</span>
                                <ul class="product-list">
                                    <li class="product-item">
                                        <span>Producto 1</span>
                                    </li>
                                    <li class="product-item">
                                        <span>Producto 2</span>
                                    </li>

                                </ul>

                            </div>
                            <div class="star-widget w-75">

                                <input type="radio" name="rate" id="rate-5">
                                <label for="rate-5" class="fas fa-star text-center"></label>
                                <input type="radio" name="rate" id="rate-4">
                                <label for="rate-4" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-3">
                                <label for="rate-3" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-2">
                                <label for="rate-2" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-1">
                                <label for="rate-1" class="fas fa-star mb-2"></label>
                                <form action="#">
                                    @*<header></header>*@
                                    <span style="" class="w-100 d-flex justify-content-end"></span>
                                    <div class="textarea mt-1 ">
                                        <textarea cols="30" placeholder="Describe tu experiencia.."></textarea>
                                    </div>
                                    <div class="btn p-0 m-0">
                                        <button type="submit">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>*@
                    <button type="button" class="btn btn-primary" id="save-changes">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>




