@model IEnumerable<Infraestructure.Models.Compra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}



div class="" style="width: 80%; margin: 0 auto;">

<h1 id="producto-titulo" class="producto-titulo text-center mb-5" style=" color: var(--gray-nav) !important; font-size: 2.3rem !important;">Productos</h1>

<div class="card">

    <div class="card-body">

        <div class="row">
            <div class="col-sm-12">

                @*<table class="table table-bordered" id="tb_empleados">*@

                <table class="display" id="tb_producto" style="width:100%">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            foreach (var detalle in item.DetalleCompra)
                            {
                                if (detalle.Producto.IdProveedor == ViewBag.idTienda)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@detalle.Producto.Nombre</td>
                                        <td>@item.Usuario.Nombre</td>
                                        @if (detalle.Estado == true)
                                        {
                                            <td><span class="text-success fw-bold">Entregado</span></td>

                                        }

                                        @if (detalle.Estado == false)
                                        {
                                            <td><span class="text-danger fw-bold">Pendiente</span></td>

                                        }
                                        <td>
                                            <button data-id="@item.Id" data-vendorId="@detalle.idProducto" href="" class="btnEstado btn  text-white btn flex-grow-1 pt-2" style="background: green ">
                                                <span class="material-symbols-outlined">
                                                    update
                                                </span>
                                            </button>
                                            @if (item.Estado == 3)
                                            {
                                                <a href="@Url.Action("EvaluationCompraVendedor", "Compra", new { id = item.Id })" class="btnEstado btn  text-white btn flex-grow-1 pt-2" style="background: green ">
                                                    <span class="material-symbols-outlined">
                                                        star
                                                    </span>
                                                </a>

                                            }
                                        </td>
                                        >
                                    </tr>
                                }
                            }
                        }

                    </tbody>

                </table>

            </div>
        </div>


    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Manejador de evento click para el botón de eliminar
        $(".btnEstado").click(function () {
            var compraId = $(this).data("id");
            var productoId = $(this).data("vendorid");


            console.log('compra id=', compraId);
            console.log('Producto id=', productoId);
            //Realiza la petición Ajax para eliminar el producto
            $.ajax({
                url: "/Compra/UpdateStateDetail",
                type: "POST",
                data: { compraId: compraId, productoId: productoId },
                success: function (data) {
                    // Muestra el resultado de la eliminación en el elemento div
                    $("#resultado").text(data);
                    console.log("entrando")
                },
                error: function () {
                    $("#resultado").text("Error al eliminar el producto.");
                }
            });
        });
    });
</script>
