
@model List<Web.ViewModel.ViewModelDetalleCompra>

@{
    ViewBag.Title = "ConfirmarCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="invoice">
    <h1>Orden de Compra</h1>
    <div class="user-details mt-3">
        @if (Session["User"] != null)
        {
            Infraestructure.Models.Usuario oUsuario;
            oUsuario = (Infraestructure.Models.Usuario)Session["User"];

            <p><strong>Nombre del Usuario:</strong> @oUsuario.Nombre</p>
        }

        <p>
            <strong>Dirección de Entrega:</strong><select name="metodoPago" id="Direccion">
                @foreach (var direccion in ViewBag.Direccion)
                {
                    <option value="@direccion">@direccion</option>
                }
            </select>
        </p>
        <p>
            <strong>Método de Pago:</strong> <select name="metodoPago" id="metodoPago">
                @foreach (var metodoPago in ViewBag.MetodoPago)
                {
                    <option value="@metodoPago.Id">@metodoPago.NumCuenta</option>
                }
            </select>
        </p>
    </div>
    <div class="observations mt-3">
        <strong><label for="observaciones">Observaciones:</label></strong>
        <textarea id="observaciones" name="observaciones" style="width: 100%; height: 50%; font-size:12px;"></textarea>

    </div>

    @if (Web.Utils.Carrito.Instancia.Items.Count() > 0)
    {

        <table class="mt-3">
            <tr>
                <th>
                    Producto
                </th>
                <th class="center">
                    Cantidad
                </th>
                <th class="right">
                    Precio
                </th>

                <th class="right">
                    SubTotal
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Producto.Id)
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td class="center" style="width:1.5em">
                        @Html.DisplayFor(modelItem => item.Cantidad)

                    </td>
                    <td class="right">

                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>

                    <td class="right">
                        @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>


                </tr>
            }
        </table>
        <div class="total">
            <p><strong>Total:</strong>  <span>@(((decimal)Web.Utils.Carrito.Instancia.GetTotal()).ToString("C2"))</span></p>
        </div>


        <div class="w-100 d-flex justify-content-end">
            <a href="@Url.Action("ConfirmarCompra", "Compra")" class="btn btn-success float-right" id="btnOrdenar">
                <span class="glyphicon glyphicon-floppy-save"></span>
                ConfirmarCompra
            </a>
        </div>


    }
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Manejador de evento click para el botón de eliminar
        $("#btnOrdenar").click(function () {
            var metodoPago = $("#metodoPago").val();
            var direccion = $("#Direccion").val();
            var observaciones = $("#observaciones").val();

            // Realiza la petición Ajax para eliminar el producto
            $.ajax({
                url: "/Compra/Save",
                type: "POST",
                data: { metodoPago: metodoPago, observaciones: observaciones, direccion: direccion },
                success: function (data) {
                    // Muestra el resultado de la eliminación en el elemento div
                    $("#resultado").text(data);
                    console.log("Inventario actualiado")
                },
                error: function () {
                    $("#resultado").text("Error al eliminar el producto.");
                }
            });
        });
    });
</script>