@model Infraestructure.Models.Compra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    @*<h1>Pedido # @Html.DisplayFor(m => Model.Id)</h1>*@
    <h1 id="producto-titulo" class="mb-3 mt-5" style="font-size: 1.8rem !important;">Detalle del pedido</h1>


    <ul class="d-flex text-decoration-none custom-pedido-list">
        <li><span class="material-symbols-outlined"> </span>Orden @Html.DisplayFor(m => Model.Id)        .</li>
        <li><span class="material-symbols-outlined"> </span>Ordenado el  @Html.DisplayFor(m => Model.FechaHora)</li>
    </ul>

    <div class="col-lg-4 col-md-4 col-sm-12">

        <div class=" card w-100" style="background: var(--color-background)">
            <div class="card-body">
                <h3 class="card-title">Observaciones</h3>

                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <p class="card-text">

                    <ol>
                        <li>Fecha y hora del pedido: @Html.DisplayFor(m => Model.FechaHora)</li>
                        <li>Cliente: @Html.DisplayFor(m => Model.Usuario.Nombre)</li>


                        <li>Tienda: @ViewBag.tiendaNombre</li>

                        @foreach (var item in Model.Usuario.MetodoPago)
                        {
                            if (Model.IdMetodoPago == item.Id)
                            {
                                <li>Metodo de pago: @Html.DisplayFor(m => item.TipoPago) @Html.DisplayFor(m => item.NumCuenta)</li>
                            }

                        }
                        <li>Direccion de entrega: @Html.DisplayFor(m => Model.Direccion)</li>

                        <li>Obervaciones: @Html.DisplayFor(m => Model.Observaciones)</li>
                        @if (Model.Estado == 3)
                        {
                            <li>Estado: <span class="text-success fw-bold">Entregado</span></li>
                        }

                    </ol>
                </p>

            </div>
        </div>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <td>Pruducto</td>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Cantidad</td>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.DetalleCompra)
                {
                    <tr>

                        <td>
                            <img style="width:100px; height:100px;" src="data:image/png;base64,@Convert.ToBase64String(item.Producto.Imagen)" alt="Imagen @Html.DisplayFor(modelItem => item.Producto.Nombre)" class="zoom-img" />
                        </td>

                        <td><strong>@Html.DisplayFor(m => item.Producto.Nombre)</strong><br />@Html.DisplayFor(a => item.Producto.Descripcion)</td>
                        <td>
                            <span>@Html.DisplayFor(m => item.Producto.Precio)</span>
                        </td>
                        <td>@Html.DisplayFor(m => item.Cantidad)</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class=" container-fluid card w-100" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Desglose del costo</h3>
                <p class="card-text">
                    <span>
                        <ol>
                            <li>Subtotal: @ViewBag.subtotal</li>
                            <li>I.V.A: @ViewBag.IVA</li>
                            <li><span class="fw-bold"><strong>Total:  </strong>@ViewBag.total</span></li>


                        </ol>
                    </span>
                </p>

            </div>
        </div>
    </div>
</div>
