@model Infraestructure.Models.Compra

@{
    ViewBag.Title = "EvaluationCompraVendedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["User"] != null)
{
    Infraestructure.Models.Usuario oUsuario;
    oUsuario = (Infraestructure.Models.Usuario)Session["User"];
}




<!-- Button trigger modal -->
<div class="contenedor-evaluacion">
    <h2 class="" id="">Califica tu satisfacción</h2>
    <hr />

    @{
        int count = 0;
        foreach (var item in Model.DetalleCompra)
        {
            count++;
            <div class="container">
                <div class="w-50 text-left">
                    <span style="font-size: 17px !important; color: rgba(0,0,0,.85) !important; font-weight: 600 ">Proveedor: @Html.DisplayFor(p => item.Producto.Tienda.NombreProveedor)</span>
                    <ul class="product-list">
                        <li class="product-item">
                            <span>@Html.DisplayFor(p => item.Producto.Nombre)</span>
                        </li>

                    </ul>
                </div>
                <div class="star-widget w-75">
                    @{
                        for (int i = 5; i >= 1; i--)
                        {
                            int a = count * 10 + i;


                            <label for="rate-@a" class='bx bx-star'></label>
                            <input value="@i" type="radio" name="rate" id="rate-@a">

                        }
                        <form action="#" class="form-evaluacion">
                            @*<header></header>*@
                            <span style="" class="w-100 d-flex justify-content-end"></span>
                            <div class="textarea mt-1 ">
                                <textarea class="comment" cols="30" placeholder="Describe tu experiencia.."></textarea>
                            </div>
                            <div class="btn p-0 m-0">
                                <button type="submit" data-id="@Html.DisplayFor(p=> Model.Id)" data-vendorId="@item.Producto.Tienda.Id" class="send">Enviar</button>
                            </div>
                        </form>
                    }

                </div>
            </div>
        }

    }

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Asegúrate de tener jQuery cargado -->

<script>
    $(document).ready(function () {

        $(".send").click(function () {
            var compraId = $(this).data("id");
            var tiendaId = $(this).data("vendorid");
            var valorRadioSeleccionado = $("input[name='rate']:checked").val();
            var contenidoTextarea = $(this).closest(".star-widget").find(".comment").val();

            console.log('Valor del radio seleccionado:', valorRadioSeleccionado);
            console.log('Contenido del textarea:', contenidoTextarea);
            console.log('Contenido del id:', compraId);
            console.log('Contenido del vendorid:', tiendaId);
            event.preventDefault();
            // Realiza la petición Ajax para eliminar el producto
            $.ajax({
                url: "/Evaluacion/Add",
                type: "POST",
                data: { compraId: compraId, idVendedor: tiendaId, evaluacion: valorRadioSeleccionado, comentario: contenidoTextarea },
                success: function (data) {
                    // Muestra el resultado de la eliminación en el elemento div
                    $("#resultado").text(data);
                    console.log("Producto borrado")
                },
                error: function () {
                    $("#resultado").text("Error al eliminar el producto.");
                }
            });
        });
    });
</script>