
@model Infraestructure.Models.Producto

@{
    ViewBag.Title = "Details";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="content">
        <div class="row row-cols-2 g-3">
            <div class="col">
                <div class="card mb-3" style="max-width: auto;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.Imagen)"
                                 alt="Libro @Html.DisplayFor(model => model.Nombre)"
                                 class="img-fluid rounded-start" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <span class="card-title" style="font-size: 25px; font-weight: 500; line-height: 1.2">@Html.DisplayFor(model => model.Nombre)</span>

                                <p class="card-text">
                                    <i class="fa-solid fa-box"> </i> <b>@Html.DisplayNameFor(model => model.Descripcion):</b>  @Html.DisplayFor(model => model.Descripcion)
                                </p>
                                <p class="card-text" style="color: #E45641; font-weight: 500;">
                                    @Html.DisplayFor(model => model.Precio)
                                </p>
                                <p class="card-text">
                                    <i class="fa-solid fa-box"> </i> <b>@Html.DisplayNameFor(model => model.Estado):</b>  @Html.DisplayFor(model => model.Estado)
                                </p>
                                <p class="card-text">
                                    <i class="fa-solid fa-circle-user"></i> <b>@Html.DisplayNameFor(model => model.Tienda):</b>    @Html.DisplayFor(model => model.Tienda.NombreProveedor)
                                </p>
                                <p class="card-text">
                                    <i class="fa-solid fa-bookmark"></i> <b>@Html.DisplayNameFor(model => model.Categoria):</b> @Html.DisplayFor(model => model.Categoria.nombre)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
