@model IEnumerable<Infraestructure.Models.Producto>

@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}

<h2>Inventario</h2>

<div class="content">
    <div class="row g-3">
        <div class="col">
            <div class=" mb-3" style="max-width: auto;">
                <div class="row g-0 d-flex align-items-start">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Detalles</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Borrado == false)
                                {
                                    <tr>
                                        <td class="p-0 m-0">
                                            <img  src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Imagen)"
                                                 alt="Libro @Html.DisplayFor(model => item.Nombre)"
                                                 class="img-fluid rounded-start h-25 w-25 " />
                                        </td>
                                        <td>
                                            <p class="card-text">
                                                <span class="card-title text-black">@Html.DisplayFor(model => item.Nombre)</span>
                                            </p>
                                                                                   
                                            <p class="card-text">
                                                <i class="fa-solid fa-box"><b>SKU: </b></i> <i class="">@Html.DisplayFor(model => item.Id)</i>
                                            </p>
                                            <p>
                                                <i class="fa-solid fa-box"><b>Stock</b></i> <i class=""> @Html.TextBoxFor(model => item.Stock, new { @class = "form-control", type = "number", min = "0",id="stock"+item.Id })</i>
                                            </p>
                                          
                                            <p class="card-text fw-bold precio" style="color: #2596be; font-weight: 500;">
                                                $@Html.DisplayFor(model => item.Precio)
                                            </p>
                                        </td>
                                        <td class="">
                                            <a href="" class="btn  text-white btn flex-grow-1 pt-2" style="background: green ">
                                                <span class="btnGuardar material-symbols-outlined" data-id="@Html.DisplayFor(m=> item.Id)">
                                                    save
                                                </span>
                                            </a>

                                            <a href="@Url.Action("Edit", "Producto", new { id = item.Id })" class="btn  text-white btn flex-grow-1 pt-2" style="background: var(--color-secondary-variant) ">
                                                <span class="material-symbols-outlined">
                                                    edit
                                                </span>
                                            </a>

                                            <a class="btn  text-white btn flex-grow-1 pt-2" style="background: red ">
                                                <span class="btnEliminar material-symbols-outlined text-white" data-id="@Html.DisplayFor(m=> item.Id)">delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script que ejecuta el delete -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Manejador de evento click para el botón de eliminar
        $(".btnEliminar").click(function () {
            var productoId = $(this).data("id");

            // Realiza la petición Ajax para eliminar el producto
            $.ajax({
                url: "/Producto/Delete",
                type: "POST",
                data: { id: productoId },
                success: function (data) {
                    // Muestra el resultado de la eliminación en el elemento div
                    $("#resultado").text(data);
                    console.log("Producto borrado")
                },
                error: function () {
                    $("#resultado").text("Error al eliminar el producto.");
                }
            });
        });
    });

    $(document).ready(function () {
        // Manejador de evento click para el botón de eliminar
        $(".btnGuardar").click(function () {
            var productoId = $(this).data("id");
            var stock = $("#stock" + productoId).val();
            // Realiza la petición Ajax para eliminar el producto
            $.ajax({
                url: "/Producto/Inventario",
                type: "POST",
                data: { id: productoId, cantidad: stock },
                success: function (data) {
                    // Muestra el resultado de la eliminación en el elemento div
                    $("#resultado").text(data);
                    console.log("Inventario actualiado")
                },
                error: function () {
                    $("#resultado").text("Error al eliminar el producto.");
                }
            });
        });
    });
</script>
