@{
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}


@model IEnumerable<Infraestructure.Models.Producto>


@*<div class="d-flex flex-column">
    <canvas id="grafico1"></canvas>
    <canvas id="grafico2"></canvas>
</div>*@



<div class="item online">
    <div class="icon">            
        <span class="material-symbols-outlined">shopping_cart</span>
    </div>
    <div class="right">
        <div class="info">
            <h3>Ventas</h3>
            <small class="text-muted">Últimas 24 horas</small>
        </div>
        @*<h5 class="success">+40%</h5>*@
    </div>
        <span class="tertiary" style="font-weight:600; font-size:1.5rem;">@ViewBag.graficoCountSells</span>
        
</div>


<div class="top-ventas">
    @*<div style="width: 500px;"><canvas id="grafico1"></canvas></div>*@
    <div style="width: 500px; height:350px"><canvas id="grafico2"></canvas></div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    <!-- Librería para gráficos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <script src="~/Scripts/graficoChartJS.js"></script>

    <script type="text/javascript">


        var colores2 = @Html.Raw(Json.Encode(ViewBag.graficoTopSells.Colores));
        colores2 = colores2.split(",");
        var etiquetas2 = @Html.Raw(Json.Encode(ViewBag.graficoTopSells.Etiquetas));
        etiquetas2 = etiquetas2.split(",");
        var valores2 = @Html.Raw(Json.Encode(ViewBag.graficoTopSells.Valores));
        valores2 = valores2.split(",");
        var titulo2 = @Html.Raw(Json.Encode(ViewBag.graficoTopSells.titulo));
        var tituloEtiquetas2 = @Html.Raw(Json.Encode(ViewBag.graficoTopSells.tituloEtiquetas));
        var tipo2 = @Html.Raw(Json.Encode(ViewBag.graficoTopSells.tipo));

        pintarGrafico("grafico2", titulo2, tituloEtiquetas2, tipo2, colores2, etiquetas2, valores2);    
    </script>
}